# Force tous les fichiers texte à être lus en UTF-8
* text=auto eol=lf

# Assure que Markdown est toujours vu comme du texte
*.md text diff

# Ignore les fichiers binaires compilés
*.pyc binary
*.pyo binary
*.pyd binary
*.db binary
*.sqlite3 binary
